<div style="color: white; background-color: black;">
    <br>
    <br>
    <div class="container">
        <div class="row" style="border-bottom: 1px solid white;">
            <div class="col-md-12">
                <h1>
                    + Digital Learning
                </h1>
                <p style="padding-left: 35px; font-size: medium;">
                    Fedfederating Knowledge Transfer Through A.I.
                </p>
                <br>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <p style="font-size: 15px; padding-left: 40px;">
                    c 2020  Affine Group Limited
                </p>
            </div>
            <div class="col-md-6 text-right">
                <a href="#" style="padding-left: 20px;">
                    <i style="color: white;" class="fa fa-facebook"></i>
                </a>
                <a href="#" style="padding-left: 20px;">
                    <i style="color: white;" class="fa fa-google"></i>
                </a>
                <a href="#" style="padding-left: 20px;">
                    <i style="color: white;" class="fa fa-github"></i>
                </a>
            </div>
            <br>
        </div>
        <br>
    </div>
</div>