<div class="row">
    <div class="col-md-12">
        <app-aboutnavbar></app-aboutnavbar>
    </div>
</div>
<br>
<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h2>
                <u><b>Contact Details</b></u>
            </h2>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4 shadow border-left-info py-2">
            <br>
            <h3>
                Address
            </h3>
            <h3>
                Affine Group Limited
            </h3>
            <h5>
                International House<br>
                24 Holborn Viaduct <br>
                London EC2A 2BN
            </h5>
            <br>
        </div>
        <div class="col-md-4 shadow border-left-info py-2">
            <br>
            <h3>
                Hours
            </h3>
            <h5>
                Mon - Fri: 8am - 8pm<br>
                ​​Saturday: 9am - 7pm
            </h5>
            <br>
        </div>
        <div class="col-md-4 shadow border-left-info py-2">
            <br>
            <h3>
                Contact Number
            </h3>
            <h5>
                +44 203 286 4170
            </h5>
            <br>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6 shadow border-left-info py-2">
            <br>
            <div class="form-group">
                <input type="text" class="form-control clck" placeholder="Name"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control clck" placeholder="Email"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control clck" placeholder="Phone"/>
            </div>
            <div class="form-group">
                <textarea class="form-control clck" placeholder="Type your message hear..."></textarea>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="button" value="Submit" class="btn btn-primary float-right"/>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-6 text-center">
            <img src="../../assets/img/hosp.jpg" width="400px" height="300px" alt="">
        </div>
    </div>
</div>
<br>
<br>
<app-footer></app-footer>