<div class="row">
    <div class="col-md-12">
        <app-aboutnavbar></app-aboutnavbar>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="row text-center">
            <div class="col-md-12">
                <br>
                <h2>
                    <b>About</b>
                </h2>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h4>
                AYUDA PLATFORM is the continuation of a project started two years ago in Sub-Sahara Africa to apply emerging technologies to connect developed and emerging markets through the co-creation of wealth and knowledge transfer. 
            </h4>
        </div>
    </div>
    <br> 
    <div class="row">
        <div class="col-md-6">
            <video id="myVideo" autoplay controls width="500px">
                <source src="../../assets/video/video_1598798801.mp4" type="video/mp4">
            </video>
        </div>
        <div class="col-md-6">
            <h5>
                The entrepreneurial spirit and high growth of countries in the East African Community was the logical market entry for distributed blockchain cloud architecture. This was the first product of Affine Group Limited, the UK parent company of technology infrastructure projects started in March of 2016.
                <br>
                <br>
                The founding team consist of alumni of several institutions who wanted to expand blockchain infrastructure to deliver education and telemedicine at scale. It was never envisioned that the project would be at the POC stage when news broke of a new virus rapidly spreading in Asia and about to change the world in a few short weeks in March of 2020.
            </h5>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <h5>
                AYUDA Platform was developed by a global team of engineers, using AGILE software development lifecycle methods to transform high scientific ambition a value proposition through combining 5 offerings from partners of gravitas.  
            </h5>
        </div>
    </div>
    <hr>
<br>
    <div class="row text-center">
        <div class="col-md-12">
            <h2>
                <u>Technology Stack</u>
            </h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6" style="font-size: 19px;">
            <ul>
                <li>
                    IBM Watson Studio, Data Normalization, Rapidly deployable polyglot conversational Watson Assistant, with Natural Language Processing, Understanding and Inference. 
                </li>
                <li>
                    GCP Dialogue CX on GCP with Machine learning
                </li>
                <li>
                    'Training' over several months with neurologists and health care practitioners 
                </li>
                <li>
                    Open Source Neural Networks and Libraries
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <video controls src="../../assets/video/deep-learning-fabric-architecture-1.mp4" width="500px"></video>
        </div>
    </div>
</div>
<br>
<br>
<app-footer></app-footer>