<ngx-spinner bdColor = "rgba(0, 0, 0, 1)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<app-nav-bar></app-nav-bar>
<header class="masthead text-center text-white d-flex" style="background-image:url('assets/img/header.jpg'); width: 100%; height: 100%; background-size: cover;">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase"><strong>AYUDA SOLUTION WELCOME</strong></h1>
            </div>
        </div>
    </div>
</header>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                  <div class="blog-slider">
                    <div class="blog-slider__wrp swiper-wrapper">
                        <div class="blog-slider__item swiper-slide">
                            <div></div>
                            <div class="blog-slider__img">
                                <!-- <video id="uke" src="//vhss-d.oddcast.com/vhost_embed_functions_v2.php?acc=7746615&js=0" type width="320" controls></video> -->
                                <video id="myVideo" controls width="320">
                                    <source src="../../assets/video/video_1596439184.mp4" type="video/mp4">
                                </video>
                                
                            </div>
                            <div >
                                <div class="blog-slider__title">
                                    AYUDA SOLUTION WELCOME

                                </div>
                                <div class="blog-slider__text">
                                    The AYUDA PLATFORM is a solution that has been created by the Affine Group and presented here as a proof of concept only, as this solution is likely to be subject to review by regulators in multiple jurisdictions.
                                    It is a modular, e-commerce platform that uses a matching engine to deliver five core products and services designed to address the COVID19 pandemic.
                                    <ul>
                                        <li>
                                            Respirators and other Personal Protective Equipment
                                        </li>
                                        <li>
                                            Instant Test Kits
                                        </li>
                                        <li>
                                            Contact Tracing App with user privacy
                                        </li>
                                        <li>
                                            Knowledge and Education sharing starting at the community level, moving to global
                                        </li>
                                        <li>
                                            Digital 'Health Care Professionals' or Avatars and Holograms supervised and trained by practitioners
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <script type="text/javascript" src="https://hosted.us.uneeq.io/deploy/51d4be30-8543-4619-85b5-d843001cdaa7"></script>
            </div>
        </div>
    </div>
</section> -->
<section id="services">
    <div class="bootstrap_cards2">
        <div class="container py-5">
            <!-- For Demo Purpose-->
            <header class="text-center mb-5">
                <h1 class="display-4 font-weight-bold">Services</h1>
            </header>    
            <div class="row pb-5 mb-4">
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <!-- Card-->
                    <div class="card rounded shadow-sm border-0">
                        <div class="card-body p-4"><img src="../../assets/img/Respiratory Mask.H03.2k.png" alt="" class="img-fluid d-block mx-auto mb-3">
                            <h5> <a href="#" class="text-dark">Respiratory Mask.H03.2k</a></h5>
                            <p class="small text-muted font-italic"></p>
                            <ul class="list-inline small">
                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <!-- Card-->
                    <div class="card rounded shadow-sm border-0">
                        <div class="card-body p-4"><img src="../../assets/img/Respirator Mask.I12.2k.png" height="150px" alt="" class="img-fluid d-block mx-auto mb-3">
                            <h5> <a href="#" class="text-dark">Respirator Mask.I12.2k</a></h5>
                            <p class="small text-muted font-italic"></p>
                            <ul class="list-inline small">
                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                                <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <!-- Card-->
                    <div class="card rounded shadow-sm border-0">
                        <div class="card-body p-4"><img src="../../assets/img/Mask.J15.2k.png" alt="" class="img-fluid d-block mx-auto mb-3">
                            <h5> <a href="#" class="text-dark">Mask.J15</a></h5>
                            <p class="small text-muted font-italic"></p>
                            <ul class="list-inline small">
                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <!-- Card-->
                    <div class="card rounded shadow-sm border-0">
                        <div class="card-body p-4"><img src="../../assets/img/Respirator Mask.F09.2k.png" alt="" class="img-fluid d-block mx-auto mb-3">
                            <h5> <a href="#" class="text-dark">Respirator Mask.F09</a></h5>
                            <p class="small text-muted font-italic"></p>
                            <ul class="list-inline small">
                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>

<section id="team">
    <div class="team-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Ayuda Team</h2>
                <p class="text-center"></p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="assets/img/Peter.jpg">
                        <h3 class="name">Peter Clarke</h3>
                        <p class="title">Leader</p>
                        <div class="social"><a target="blank" href="https://www.facebook.com/profile.php?id=100043522545514"><i class="fa fa-facebook-official"></i></a><a target="blank" href="#"><i class="fa fa-linkedin"></i></a></div>
                    </div>
                    <div class="box"><img class="rounded-circle" src="assets/img/Tanuj.jpeg">
                        <h3 class="name">Tanuj Dhiman</h3>
                        <p class="title">ML Enthusiast</p>
                        <div class="social"><a target="blank" href="https://www.facebook.com/tanuj.dhiman.14019/"><i class="fa fa-facebook-official"></i></a><a target="blank" href="https://www.linkedin.com/in/tanuj-dhiman-a5647a16b/"><i class="fa fa-linkedin"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="assets/img/David.jpeg">
                        <h3 class="name">David Dornyoh</h3>
                        <p class="title">BAckend</p>
                        <div class="social"><a target="blank" href="#"><i class="fa fa-facebook-official"></i></a><a target="blank" href="https://www.linkedin.com/in/david-dornyoh-7b375656/"><i class="fa fa-linkedin"></i></a></div>
                    </div>
                    <div class="box"><img class="rounded-circle" src="assets/img/Abhi.jpeg">
                        <h3 class="name">Abhishek</h3>
                        <p class="title">ML Enthusiast</p>
                        <div class="social"><a target="blank" href="https://www.facebook.com/profile.php?id=100028062010941"><i class="fa fa-facebook-official"></i></a><a target="blank" href="https://www.linkedin.com/in/abhishek-5b642580/"><i class="fa fa-linkedin"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="assets/img/Vikas.jpg">
                        <h3 class="name">Vikas Dhiman</h3>
                        <p class="title">Front end developer</p>
                        <div class="social"><a target="blank" href="https://www.facebook.com/vikas.dhiman.52493499/"><i class="fa fa-facebook-official"></i></a><a target="blank" href="https://www.linkedin.com/in/vikas-dhiman-a19a8018b/"><i class="fa fa-linkedin"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>